{{#if @songs}}
<h2>{{@title}}</h2>

<BsAccordion as |accordion|>
  {{#each @songs as |song index|}}
    <accordion.item @value={{index}} @title={{song.title}}>
        {{#if song.phases}}
          <p>For: {{song.phases}}</p>
        {{/if}}
        {{#if song.body}}
          {{#each song.body as |fragment|}}
            {{#if fragment.attributes.isChorus}}
              <p style="font-weight: bold;">{{fragment.attributes.text}}</p> <!-- parametrizing the style attribute is deprecated-->
            {{else}}
              <p>{{fragment.attributes.text}}</p>
            {{/if}}
          {{/each}}
        {{else}}
          <p>{{song.text}}</p>
        {{/if}}
        {{#if song.sheet}}
          <div> <!-- The div makes the image cover the whole width -->
            <img src="http://localhost:8081/sheets/{{song.sheet.id}}/pages/0" width="100%" alt="Could not get the preview of the sheet.">  <!--take just the first page as a thumbnail-->
            <LinkTo @route="sheets.sheet" @model={{song.sheet.id}}>
              <BsButton>Visualize the whole sheet for piano</BsButton>
            </LinkTo>
          </div>
        {{else}}
          <i>No sheet is available for this song yet.</i>
        {{/if}}



    </accordion.item>
  {{/each}}
</BsAccordion>

{{/if}}